<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crainyday.sport.mapper.GamesMapper">
	<select id="getGamesByAdminId" resultType="Games">
		SELECT games_id, admin_id, games_name, games_org,
		games_place, games_begin, games_end, apply_end 
		FROM games WHERE 
		<if test="adminId==0">
			1=1 ORDER BY RAND(), apply_end DESC LIMIT 4
		</if>
		<if test="adminId!=0">
			admin_id = #{adminId} ORDER BY apply_end DESC
		</if>
	</select>
	<insert id="addGames">
		INSERT INTO games(admin_id, games_name, games_org,
		games_place, games_begin, games_end, apply_end)
		VALUES(#{adminId}, #{gamesName}, #{gamesOrg}, 
		#{gamesPlace}, #{gamesBegin}, #{gamesEnd}, #{applyEnd})
	</insert>
	<update id="updateGames">
		UPDATE games
		<set>
		  	<if test="gamesName!=null">
		  		games_name = #{gamesName},
		  	</if>
		  	<if test="gamesOrg!=null">
		  		games_org = #{gamesOrg},
		  	</if>
		  	<if test="gamesPlace!=null">
		  		games_place = #{gamesPlace},
		  	</if>
		  	<if test="gamesBegin!=null">
		  		games_begin = #{gamesBegin},
		  	</if>
		  	<if test="gamesEnd!=null">
		  		games_end = #{gamesEnd},
		  	</if>
		  	<if test="applyEnd!=null">
		  		apply_end = #{applyEnd}
		  	</if>
	  	</set>
		WHERE games_id = #{gamesId}
	</update>
	<delete id="delGames">
		DELETE FROM games WHERE games_id = #{gamesId}
	</delete>
	<select id="getGamesByGamesId" resultType="Games">
		SELECT games_id, admin_id, games_name, games_org,
		games_place, games_begin, games_end, apply_end 
		FROM games WHERE games_id = #{gamesId}
	</select>
	<select id="getBriefGamesByAdminId" resultType="com.crainyday.sport.data.BriefGames">
		SELECT games_id, games_name 
		FROM games WHERE admin_id = #{adminId}
	</select>
</mapper>